# Enable the Rewrite Engine
RewriteEngine On

# Redirect requests for pitdigital.nl or www.pitdigital.nl to /pitdigital.nl
RewriteCond %{HTTP_HOST} ^(www\.)?pitdigital\.nl$ [NC]
RewriteCond %{REQUEST_URI} !^/pitdigital\.nl/
RewriteRule ^(.*)$ /pitdigital.nl/$1 [L]

# Redirect requests for woutpittens.nl or www.woutpittens.nl to /woutpittens.nl
RewriteCond %{HTTP_HOST} ^(www\.)?woutpittens\.nl$ [NC]
RewriteCond %{REQUEST_URI} !^/woutpittens\.nl/
RewriteRule ^(.*)$ /woutpittens.nl/$1 [L]

# Ensure requests for assets are not rewritten
RewriteCond %{REQUEST_URI} !^/pitdigital\.nl/
RewriteCond %{REQUEST_URI} !^/woutpittens\.nl/
RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|css|js|woff|woff2|ttf|svg|eot)$ [NC]

# Custom 404 Error Documents
ErrorDocument 404 /pitdigital.nl/404.html
ErrorDocument 404 /woutpittens.nl/404.html
